{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  // these are my linting
  // related dependecies only
  "rules": {
    "quote-props": [2, "as-needed"],
    "no-return-assign": 0,
    "comma-dangle": "error",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-debugger": "error",
    "react/prop-types": 0,
    "no-trailing-whitespace": [true, "ignore-jsdoc"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "no-underscore-dangle": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-await-in-loop": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "import/prefer-default-export": 0,
    "react/no-find-dom-node": 0,
    "no-shadow": 0,
    "max-len": 2,
    "consistent-return": 0,
    "no-plusplus": 0,
    "spaced-comment": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    "react/require-default-props": false
  }
}